@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'Android';
  src: url(fontes/idroid.otf) format('opentype');
  font-weight: normal;
}

:root {
  --color0: #fff;
  --color1: #96C4EA;
  --color2: #234866;
  --color3: #4A5C6B;
  --color4: #4EA1E6;
  --color5: #000;

  --default-font: Arial, Verdana, Helvetica, sans-serif;
  --highlight-font: 'Bebas Neue', cursive;
  --android-font: 'Android', cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--default-font);
  background-color: var(--color1);
}

div#header-bg{
  background-image: linear-gradient(180deg, var(--color2), var(--color3));

}

header {
  overflow: hidden;
  top: 0;
}

header > h1 {
  font-family: var(--highlight-font);
}

header > h1, header > p{
  color: var(--color0);
  text-align: center;
}

nav {
  padding-top: 2rem;
}

nav > a {
  color: var(--color0);
  text-decoration: none;
  margin-left: 0.5rem;
}

nav > a:hover {
  background-color: var(--color4);
}

main {
  background-color: var(--color0);
  border-radius: 0 0 0.625rem 0.625rem;

  margin: auto;
  max-width: 20rem;
  max-width: 50rem;

  padding: 1rem;
}

h1 {
  color: var(--color3);
  font-size: 2rem;
}

h2 {
  background-color: var(--color2);
  color: var(--color1);
  padding-left: 00.625rem;
  font-family: var(--android-font);
}

p {
  text-align: justify;
  text-indent: 2rem;
}

p > a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color5);
}

p > a::after {
  content: ' 🔗';
}

p > a#github {
  color: var(--color0);
}

p > a#github::after {
  content: '';
}

img {
  display: block;
  margin: auto;
  width: 100%;
}

img#pequena {
  width: 50%;
}

ul {
  list-style-type: none;
}

li > a {
  text-decoration: underline;
  color: var(--color5);
}

h3 {
  padding-top: 0.625rem;
  background-color: var(--color2);
  color: var(--color0);
  
  padding-left: 0.625rem;
  border-radius: 0.625rem 0.625rem 0 0;
}

aside{
  background-color: var(--color1);

  margin: 2rem;
  border-radius: 0.625rem;
}

section#extra-content{
  padding: 0 1rem 0.5rem 1rem;
}

footer {
  background-color: var(--color2);
  color: var(--color0);

  overflow: hidden;
  bottom: 0;
  margin-top: 1rem;
}

footer > p {
  text-align: center;
}